<?xml version="1.0" encoding="UTF-8" ?>
<widget id="fifi.adventure" android-versionCode="1" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Fifi's Adventure</name>
	<description>fifi adventure</description>
	<author href="www.fifiadv.com" email="fifiadv@gmail.com">Fatwimah</author>

	<icon src="www/icon-256.png" width="256" height="256" density="xxxhdpi" />
	<icon src="www/icon-128.png" width="128" height="128" density="xhdpi" />

	<preference name="android-targetSdkVersion" value="28" />

	<preference name="orientation" value="default" />
	<preference name="fullscreen" value="true" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="AllowInlineMediaPlayback" value="true" />
 

	<preference name="deployment-target" value="10.0" />
	<preference name="android-minSdkVersion" value="21" />
	<access origin="*" />

	<plugin name="cordova-custom-config" />
	<plugin name="admob-fixing-cordova" spec="https://github.com/mukeshphulwani66/admob-fixing-cordova.git"  />
	<plugin name="cordova-plugin-file" />
	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-statusbar" />
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="cordova-plugin-wkwebview-engine" />


 	<engine name="android" />
</widget>